<!-- dashboard.component.html -->
<div class="dashboard-container" [@fadeIn]>
    <div class="dashboard-content">
      <!-- CATEGORIES (abajo) -->
      <div class="bottom-section">
        <div class="vertical-store-list">
          <mat-card *ngFor="let commerce of commerces" class="store-card {{commerce.class}}">
            <div (click)="goToTabWithData(commerce.name)" class="store-content">
                <span class="store-name">
                    {{ commerce.name | uppercase }}
                </span>
            </div>
            <div class="perforations">
                <span
                *ngFor="let slot of [].constructor(commerce.totalSlots); let i = index"
                class="dot"
                [class.active]="i < commerce.activeSlots"
              ></span>                  
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  