<div class="content">
    <div class="header">
      <div>
        <div *ngIf="partnerName !== 'Home'">
          <img [src]="'assets/logos/' + partnerName + '.png'" class="icon-image" />
        </div>
        <div *ngIf="partnerName === 'Home'">
          <img [src]="'assets/' + 'perxie_logo-noback.png'" class="icon-image" />
        </div>
        <button class="centered-button" (click)="login()">
          <mat-icon>person</mat-icon>
          <span>{{ username }}</span>
        </button>
      </div>
    </div>
    <div>
      
    </div>
      <mat-tab-group
        #mainTabGroup
        headerPosition="below"
        class="bottom-tab-group"
        (selectedIndexChange)="onTabChange($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>home</mat-icon>
          </ng-template>
          <div>
            <app-partners
              (goToCommerce)="goToCommerceWithData($event)">
            </app-partners>
          </div>
        </mat-tab>
        <mat-tab *ngIf="currentUser">
          <ng-template mat-tab-label>
            <mat-icon>storefront</mat-icon>
          </ng-template>
          <app-home
            [currentUser]="currentUser"
            [userData]="userData"
          ></app-home>
        </mat-tab>
      </mat-tab-group>
      <div
        *ngIf="currentUser"
        class="scan-qr"
        (click)="scanQr()" [class.clicked]="isQrClicked" (animationend)="isQrClicked = false">
        <img src="assets/scan-qr.png" alt="QR Code" />
      </div>    
  </div>
  
  <div class="loading-overlay" *ngIf="loading$ | async">
    <mat-spinner color="accent" diameter="50"></mat-spinner>
  </div>
  