<div>
    <div class="header">
        <h1>Inicio</h1>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
                mat-menu-item
                (click)="login()">
              <mat-icon>dialpad</mat-icon>
              <span>{{ currentUser ? 'Perfil' : 'Inicia Sesión' }}</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
          </mat-menu>
    </div>

    <mat-tab-group #mainTabGroup headerPosition="below" class="bottom-tab-group">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>home</mat-icon>
        </ng-template>
        <app-dashboard (goToCommerce)="goToCommerceWithData($event)"></app-dashboard>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>storefront</mat-icon>
        </ng-template>
        <app-home
          [currentUser]="currentUser"
          [userData]="userData"
        ></app-home>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>person</mat-icon>
        </ng-template>
        Content 3
      </mat-tab>
    </mat-tab-group>
</div>

<div class="loading-overlay" *ngIf="loading$ | async">
  <mat-spinner color="accent" diameter="50"></mat-spinner>
</div>
