<div>
  <div class="header">
    <div class="button-with-label">
      <button
        class="centered-button"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
      <img [src]="'assets/' + partnerName + '.png'" alt="Ícono de tienda" class="icon-image" />
      </button>
      <h3 class="button-label">{{ partnerName.toUpperCase() }}</h3>
    </div>
  
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="login()">
        <mat-icon>dialpad</mat-icon>
        <span>{{ currentUser ? 'Perfil' : 'Inicia Sesión' }}</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
    </mat-menu>
  </div>  

    <mat-tab-group #mainTabGroup headerPosition="below" class="bottom-tab-group">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>home</mat-icon>
        </ng-template>
        <app-dashboard (goToCommerce)="goToCommerceWithData($event)"></app-dashboard>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>storefront</mat-icon>
        </ng-template>
        <app-home
          [currentUser]="currentUser"
          [userData]="userData"
        ></app-home>
      </mat-tab>
    </mat-tab-group>
</div>

<div class="loading-overlay" *ngIf="loading$ | async">
  <mat-spinner color="accent" diameter="50"></mat-spinner>
</div>
