.example-card {
    max-width: 400px;
  }
  
  .example-card-footer {
    padding: 16px;
  }

  .admin-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .scan-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }