<div class="container admin-page" *ngIf="adminData && userData">
    <h1>Welcome Admin {{ adminData.email }}</h1>
    <h2>Partner {{ adminData.partner }}</h2>
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>
            <input type="text" />
            <span *ngIf="userData">
                User: {{ userData.email ? userData.email : title }}
            </span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="userData && adminData">
                <h3>Stamps</h3>
                <mat-chip-set aria-label="Chihuahua traits">
                    <mat-chip>
                        {{ adminData.partner ? userData.partners[adminData.partner]?.stamps : 0 }}
                        de {{ partnerInfo?.totalSlots }}</mat-chip>
                </mat-chip-set>
                <div>
                    <button (click)="modifyStamp(1)">Agrega 1 ⭐️</button>
                    <button (click)="modifyStamp(-1)">Resta 1 ⭐️</button>
                </div>
                <h3>Rewards</h3>
                <mat-chip-set aria-label="Chihuahua traits">
                    <div *ngIf="adminData.partner && userData.partners[adminData.partner]?.rewards">
                        <div *ngFor="let reward of userData.partners[adminData.partner].rewards">
                            <mat-chip>{{ reward.name }}</mat-chip>
                        </div>
                    </div>
                </mat-chip-set>
            </div>
        </mat-card-content>
        <mat-card-footer class="example-card-footer">
        </mat-card-footer>
    </mat-card>
    <button (click)="logout()">Cerrar Sesión</button>
</div>

<div class="container admin-page" *ngIf="adminData && !userData">
    <h1>Welcome Admin {{ adminData.email }}</h1>
    <h2>Escanea el código de usuario</h2>
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header style="display: block;">
        <mat-card-title>
            <div class="scan-input">
                <input
                  id="scanInput"
                  type="text"
                  [(ngModel)]="currentId"
                  (ngModelChange)="onScan(currentId)"
                  placeholder="Escanea aquí el ID"
                  autofocus
                  style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;"
                />
              </div>              
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Una vez escaneado el ID válido, se cargará la información del usuario.</p>
      </mat-card-content>
    </mat-card>
    <button (click)="logout()">Cerrar Sesión</button>
</div>
  