<div class="container admin-page" *ngIf="adminData && userData">
    <h1>Welcome Admin {{ adminData.email }}</h1>
    <h2>Partner {{ adminData.partner }}</h2>
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>
            <span>
                User: {{ userData.email ? userData.email : title }}
            </span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="userData && adminData">
                <hr>
                <div style="display: flex; justify-content: center;">
                    <mat-chip-set>
                        <mat-chip *ngIf="!loadingStamps">
                          {{ selectedUserPartner.activeSlots }} de
                          {{ selectedUserPartner.totalSlots }}
                        </mat-chip>
                        <div class="loading-overlay" *ngIf="loadingStamps">
                            <mat-spinner color="accent" diameter="50"></mat-spinner>
                        </div>
                    </mat-chip-set>
                </div>                  
                <div style="display: flex; justify-content: space-between; gap: 10px; max-width: 100%;">
                    <button
                      (click)="modifyStamp(1)"
                      style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;"
                    >
                      Agrega 1 ⭐️
                    </button>
                    <button
                      (click)="modifyStamp(-1)"
                      style="padding: 10px 20px; background-color: #F44336; color: white; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;"
                    >
                      Resta 1 ⭐️
                    </button>
                </div>                                   
                <h3>Rewards</h3>
                <div style="display: flex; justify-content: center;">
                    <mat-chip-set>
                        <div *ngIf="adminData.partner && userData.partners[adminData.partner]?.rewards">
                            <div *ngFor="let reward of userData.partners[adminData.partner].rewards">
                                <mat-chip
                                [removable]="true"
                                (removed)="removeReward(reward)">
                                {{ reward.name }}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            </div>
                        </div>
                    </mat-chip-set>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer class="example-card-footer">
        </mat-card-footer>
    </mat-card>
    <button (click)="logout()">Cerrar Sesión</button>
</div>

<div class="container admin-page" *ngIf="adminData && !userData">
    <h1>Welcome Admin {{ adminData.email }}</h1>
    <h2>Escanea el código de usuario</h2>
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header style="display: block;">
        <mat-card-title>
            <div class="scan-input">
                <input
                  id="scanInput"
                  type="text"
                  [(ngModel)]="currentId"
                  (ngModelChange)="onScan(currentId)"
                  placeholder="Escanea aquí el ID"
                  autofocus
                  style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;"
                />
              </div>              
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Una vez escaneado el ID válido, se cargará la información del usuario.</p>
      </mat-card-content>
    </mat-card>
    <button (click)="logout()">Cerrar Sesión</button>
</div>